/* List Widget */

list-element {
    display: flex;
    flex-direction: column;
    overflow-x: none;
    overflow-y: auto;
}

list-element > * {
    width: 100%;
    box-sizing: border-box;
    color: fieldtext;
}

list-element > .selected {
    background-color: highlight;
    color: highlighttext;
}

content-edit-element {
    overflow: none;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0.25em;
}

content-edit-element[contenteditable=true] {
    background-color: transparent;
    border: 2px dotted black;
    color: fieldtext;
}
